backend/hf_token.txt
docker-compose.yml
.env
data-07/uploads/4ea772f2-1147-4198-833f-2b732e5f7d9f_VAST-Cluster-5.3-Release-Notes-2025-04-22-01.59.pdf
data-07/uploads/8c8ce11b-cfb2-4b03-b1fb-7b8485dbe23c_vast-whitepaper.pdf
data-07/uploads/39faa54c-4e8a-4c3f-b789-9e459af78b97_VAST-CSI-Driver-2.6-Release-Notes-2025-04-22-01.59.pdf
data-07/uploads/81cb8e10-e2fe-44e9-9ccb-182c7e504d29_vast-whitepaper.pdf
data-07/uploads/2742f973-3e48-486e-9a2b-ccd9dcbb63de_VAST-Driver-for-Cinder-2025-04-22-01.59.pdf
data-07/uploads/3069ab49-3465-418f-91aa-ae6fe9f4e838_vast-whitepaper.pdf
data-07/uploads/4101bf68-bf49-4686-9398-cc879b3e9a0b_VAST-Cluster-5.3-Administrators-Guide-2025-04-22-01.59.pdf
data-07/uploads/269865cf-85f8-44ed-a3d6-d6a070c05157_vast-whitepaper.pdf
data-07/uploads/d967b9e2-932e-44ce-9213-78b67c05926d_VAST-Cluster-5.3-Release-Notes-2025-04-22-01.59.pdf
data-07/uploads/fb6665e1-2aec-4228-8cb8-c818717d5c74_vast-whitepaper.pdf
backend/app/services/__pycache__/query_processor.cpython-310.pyc
backend/app/services/__pycache__/query_wrapper.cpython-310.pyc
backend/env.py
backend/fix_documents.py
backend/corrected_documents_route.py
backend/app/api/routes/documents.py.corrupted
backend/app/api/routes/documents.py.v7b
backend/app/services/__pycache__/query_processor.cpython-310.pyc
docker-compose.yml
docker-compose.yml
data-07/uploads/77d5db26-bd26-45b6-a19f-d3e32b035d8b_VAST-Driver-for-Cinder-2025-04-22-01.59.pdf
data-07/uploads/ac94eb1b-792f-463c-a048-9d8a436efda5_VAST-Block-CSI-Driver-2.6-Administrators-Guide-2025-04-22-02.00.pdf
.gitignore
.env
docker-compose.yml
backend/archive_backend/.env.mistral.v1
docker-compose.yml
huggingface_cache/hub
.env
docker-compose.yml
docker-compose.yml.hachetjob
docker-compose.yml.v7.Good
docker-compose.yml.v7b
docker-compose.yml.v7c
huggingface_cache
archive/.env.v7
archive/.env.v7.works
docker-compose.yml
archive/docker-compose.yml.v7.working
archive/docker-compose.yml.v7.works
docker-compose.yml
.env
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/.gitattributes
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/config.json
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/generation_config.json
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/model.safetensors
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/quantize_config.json
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/README.md
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/special_tokens_map.json
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/tokenizer_config.json
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/tokenizer.json
backend/models_cache/Mistral-7B-Instruct-v0.2-GPTQ/tokenizer.model
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/.no_exist/3ad372fc79158a2148299e3318516c786aeded6c/added_tokens.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/.no_exist/3ad372fc79158a2148299e3318516c786aeded6c/chat_template.jinja
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/.no_exist/3ad372fc79158a2148299e3318516c786aeded6c/model.safetensors
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/1e9f59c515a01088e1f7f72b68ab99f92d15fb96
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/5f86e15cb3ed9078e30ae6e72445e109d0e337d9cde59b9aeea4ce8e44e54a5d
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/361fa9d25a7f791e18ab531b3468ff8f2010642e
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/63654d601820b88b1fa8b4a98df5714f700fbc5b3df2cc4ecbabdced35096d31
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/451134b2ddc2e78555d1e857518c54b4bdc2e87d
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/a42716540ecb2385d371f2109835921ff535406cac8fe8ff28f2f0b5fc7895bd
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/c0519dc5f5cc99c2238a453da18994599c898b66
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/cb0c9b6c64cf786052efdd1a4ae597337b2f2708
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/dadfd56d766715c61d2ef780a525ab43b8e6da4de6865bda3d95fdef5e134055
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/blobs/f63c0374bad221568938f908e397a38d9f0dfac0
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/refs/main
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/generation_config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/model-00001-of-00003.safetensors
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/model-00002-of-00003.safetensors
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/model-00003-of-00003.safetensors
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/model.safetensors.index.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/special_tokens_map.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/tokenizer_config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/tokenizer.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2/snapshots/3ad372fc79158a2148299e3318516c786aeded6c/tokenizer.model
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.gitattributes
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/generation_config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/model-downloader.py
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/model.safetensors
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/quantize_config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/README.md
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/special_tokens_map.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/tokenizer_config.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/tokenizer.json
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/tokenizer.model
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/1e9f59c515a01088e1f7f72b68ab99f92d15fb96.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/5f86e15cb3ed9078e30ae6e72445e109d0e337d9cde59b9aeea4ce8e44e54a5d.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/361fa9d25a7f791e18ab531b3468ff8f2010642e.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/63654d601820b88b1fa8b4a98df5714f700fbc5b3df2cc4ecbabdced35096d31.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/451134b2ddc2e78555d1e857518c54b4bdc2e87d.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/a42716540ecb2385d371f2109835921ff535406cac8fe8ff28f2f0b5fc7895bd.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/c0519dc5f5cc99c2238a453da18994599c898b66.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/cb0c9b6c64cf786052efdd1a4ae597337b2f2708.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/dadfd56d766715c61d2ef780a525ab43b8e6da4de6865bda3d95fdef5e134055.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--mistralai--Mistral-7B-Instruct-v0.2/f63c0374bad221568938f908e397a38d9f0dfac0.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/53aa51172d142c89d9012cce15ae4d6cc0ca6895895114379cacb4fab128d9db.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/58d4a9a45664eb9e12de9549c548c09b6134c17f.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/59d594003bf59880a884c574bf88ef7555bb0202.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/72b987fd805cfa2b58c4c8c952b274a11bfd5a00.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/952a9b81c0bfd99800fabf352f69c7ccd46c5e43.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/c79f2b6a0cea6f4b564fed1938984bace9d30ff0.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/cb202bfe2e3c98645018a6d12f182a434c9d3e02.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/d1514c3162bbe87b343f565fadc62e6c06f04f03.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/e7b0375001f109a6b8873d756ad4f7bbb15fbaa5.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/fb140275c155a9c7c5a3b3e0e77a9e839594a938.lock
backend/models_cache/models--mistralai--Mistral-7B-Instruct-v0.2-GPTQ/.locks/models--sentence-transformers--all-MiniLM-L6-v2/fd1b291129c607e5d49799f87cb219b27f98acdf.lock
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/adapter_config.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/added_tokens.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/.no_exist/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/chat_template.jinja
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/53aa51172d142c89d9012cce15ae4d6cc0ca6895895114379cacb4fab128d9db
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/58d4a9a45664eb9e12de9549c548c09b6134c17f
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/59d594003bf59880a884c574bf88ef7555bb0202
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/72b987fd805cfa2b58c4c8c952b274a11bfd5a00
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/952a9b81c0bfd99800fabf352f69c7ccd46c5e43
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/c79f2b6a0cea6f4b564fed1938984bace9d30ff0
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/cb202bfe2e3c98645018a6d12f182a434c9d3e02
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/d1514c3162bbe87b343f565fadc62e6c06f04f03
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/e7b0375001f109a6b8873d756ad4f7bbb15fbaa5
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/fb140275c155a9c7c5a3b3e0e77a9e839594a938
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/blobs/fd1b291129c607e5d49799f87cb219b27f98acdf
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/refs/main
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config_sentence_transformers.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/config.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/model.safetensors
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/modules.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/README.md
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/sentence_bert_config.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/special_tokens_map.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer_config.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/tokenizer.json
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/vocab.txt
backend/models_cache/models--sentence-transformers--all-MiniLM-L6-v2/snapshots/c9745ed1d9f207416be6d2e6f8de32d1f16199bf/1_Pooling/config.json
huggingface_cache/hub
backend/z-archive_backend/.env.mistral.v1
.env
backend/z-archive_backend/env.py
huggingface_cache/hub
z-archive/.env.v7
z-archive/.env.v7.works
z-archive/docker-compose.yml.v7.working
z-archive/corrected_cache_validation_20250714_113342.json
z-archive/docker-compose.yml.v7.works
.env
huggingface_cache/hub
docker-compose.yml
.env
docker-compose-test.yml
.env
backend/z-archive_backend/hf_token.txt
backend/scripts/system-inventory/requirements-optimizer-balanced.txt
backend/scripts/system-inventory/requirements-optimizer-stable.txt
backend/scripts/system-inventory/system_inventory_20250716_003749/detailed_inventory.txt
backend/scripts/system-inventory/system_inventory_20250716_003749/system_summary.txt
backend/scripts/system-inventory/system_inventory_20250716_005146/logs/inventory.log
backend/scripts/system-inventory/system_inventory_20250716_005451/logs/inventory.log
backend/scripts/system-inventory/system_inventory_20250716_013012/logs/inventory.log
backend/scripts/system-inventory/system_inventory_20250716_013026/detailed_inventory.txt
backend/scripts/system-inventory/system_inventory_20250716_013026/system_summary.txt
backend/scripts/system-inventory/system_inventory_20250716_014003/detailed_inventory.txt
backend/scripts/system-inventory/system_inventory_20250716_014003/system_summary.txt
backend/scripts/system-inventory/system_inventory_20250716_014031/logs/inventory.log
docker-compose-working.yml
docker-compose.yml.rev2.working.x.front
docker-compose.yml.rev5
test
